<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401286465191-49fqfpab0rpd34nl8ijol1ump52d6del.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401286465191-49fqfpab0rpd34nl8ijol1ump52d6del</string>
	<key>API_KEY</key>
	<string>AIzaSyAK89qLGa6uHzdKi_wWojVuxy40bH14wl0</string>
	<key>GCM_SENDER_ID</key>
	<string>401286465191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fnotification</string>
	<key>PROJECT_ID</key>
	<string>fnotification-19017</string>
	<key>STORAGE_BUCKET</key>
	<string>fnotification-19017.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401286465191:ios:42b1bed124763b527f7d82</string>
</dict>
</plist>